- add_to_breadcrumbs _("Pages"), project_pages_path(@project)
- breadcrumb_title domain_presenter.domain
- page_title domain_presenter.domain

- verification_enabled = Gitlab::CurrentSettings.pages_domain_verification_enabled?

- if verification_enabled && domain_presenter.unverified?
  = content_for :flash_message do
    = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false) do |c|
      = c.body do
        .container-fluid.container-limited
          = _("This domain is not verified. You will need to verify ownership before access is enabled.")

%h1.page-title
  = _('Pages Domain')
= render 'projects/pages_domains/helper_text'
%div
  = form_for [@project, domain_presenter], html: { class: 'fieldset-form' } do |f|
    = render 'form', { f: f }
    .form-actions.d-flex.justify-content-between
      = f.submit _('Save Changes'), class: "gl-button btn btn-confirm"
      = link_to _('Cancel'), project_pages_path(@project), class: 'gl-button btn btn-default btn-inverse'
